<%- include('layouts/header') %>
<link rel="stylesheet" href="/layouts/main.css">
<%- include('layouts/navbar') %>
<span></span>
<hr>
<div class="container-fluid">

<h1>Circle loader with checkmark completed state <small>CSS Animation</small></h1>

<div class="circle-loader">
  <div class="checkmark draw"></div>
</div>

<p><button id="toggle" type="button" class="btn btn-success">Toggle Completed</button></p>

</div>
<%- include('layouts/footer') %>